<a href="https://colab.research.google.com/github/EleonoraCataldo/CA-DataScience-Week1/blob/main/Week2Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [7]:
import pandas as pd

In [20]:
url= "https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv"
dataset= pd.read_csv(url)
movies= pd.DataFrame(dataset)

In [18]:
print(mov)

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[77 rows x 8 columns]

In [31]:
#Q1: Can you print the first 10 records.
movies.loc[0:9]

                                 Film      Genre  ... Worldwide Gross  Year
0          Zack and Miri Make a Porno    Romance  ...         $41.94   2008
1                     Youth in Revolt     Comedy  ...         $19.62   2010
2  You Will Meet a Tall Dark Stranger     Comedy  ...         $26.66   2010
3                        When in Rome     Comedy  ...         $43.04   2010
4               What Happens in Vegas     Comedy  ...        $219.37   2008
5                 Water For Elephants      Drama  ...        $117.09   2011
6                              WALL-E  Animation  ...        $521.28   2008
7                            Waitress    Romance  ...         $22.18   2007
8                 Waiting For Forever    Romance  ...          $0.03   2011
9                     Valentine's Day     Comedy  ...        $217.57   2010

[10 rows x 8 columns]

In [32]:
movies.head(10)

                                 Film      Genre  ... Worldwide Gross  Year
0          Zack and Miri Make a Porno    Romance  ...         $41.94   2008
1                     Youth in Revolt     Comedy  ...         $19.62   2010
2  You Will Meet a Tall Dark Stranger     Comedy  ...         $26.66   2010
3                        When in Rome     Comedy  ...         $43.04   2010
4               What Happens in Vegas     Comedy  ...        $219.37   2008
5                 Water For Elephants      Drama  ...        $117.09   2011
6                              WALL-E  Animation  ...        $521.28   2008
7                            Waitress    Romance  ...         $22.18   2007
8                 Waiting For Forever    Romance  ...          $0.03   2011
9                     Valentine's Day     Comedy  ...        $217.57   2010

[10 rows x 8 columns]

In [29]:
#Q2: What are the data types of the columns.
datatypes= movies.dtypes
print(datatypes)

Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object

In [42]:
#Q3: Count of Animation movies (using the count() function)
len(movies[movies["Genre"] == 'Animation'])

4

In [44]:
#Q4: Show the Comedy movies in the year 2007.
movies[movies['Year']==2007]

                                   Film    Genre  ... Worldwide Gross  Year
7                              Waitress  Romance  ...         $22.18   2007
10  Tyler Perry's Why Did I get Married  Romance  ...         $55.86   2007
18                   The Heartbreak Kid   Comedy  ...        $127.77   2007
31                      P.S. I Love You  Romance  ...        $153.09   2007
36                      No Reservations   Comedy  ...         $92.60   2007
40                     Music and Lyrics  Romance  ...        $145.90   2007
51                       License to Wed   Comedy  ...         $69.31   2007
54                           Knocked Up   Comedy  ...           $219   2007
62                      Good Luck Chuck   Comedy  ...         $59.19   2007
69                            Enchanted   Comedy  ...        $340.49   2007
72                  Across the Universe  romance  ...         $29.37   2007

[11 rows x 8 columns]

In [46]:
#Q5: Count of Animation movies with more than 70% Audience Score.
len(movies[movies["Audience score %"]>70])

25

In [50]:
#Q6: Show the list of top 5 movies based on profitability.
movies.sort_values(by=["Profitability"], inplace=True, ascending=False)
movies.head(5)

                                  Film    Genre  ... Worldwide Gross  Year
68                           Fireproof    Drama  ...         $33.47   2008
60  High School Musical 3: Senior Year   Comedy  ...        $252.04   2008
14         The Twilight Saga: New Moon    Drama  ...        $709.82   2009
7                             Waitress  Romance  ...         $22.18   2007
12                            Twilight  Romance  ...        $376.66   2008

[5 rows x 8 columns]

In [69]:
#Q7: Show the top 5 Comedy movies approved by the audience (Audience Score)