<a href="https://colab.research.google.com/github/EleonoraCataldo/CA-DataScience-Week1/blob/main/Week1Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
#Q1: Write a function that returns the age of customers, given their year of birth.

def count_age(years):
  age=[]
  for i in years:
    age.append(2021-i)
  return(age)

In [11]:
#Q1: Example output

years=[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]

count_age(years)

[22, 26, 16, 11, 14, 15, 27, 25, 42, 13]

In [76]:
#Q2: Write a function that removes the outliers (the oldest and youngest person’s age)

def remove_outliers(x):
  target_group=[]
  ages = count_age(x)
  for i in ages: 
    if max(ages)>i>min(ages):
      target_group.append(i)
    else:
      pass
  return(target_group)

In [34]:
#Q2: Write a function that removes the outliers (the oldest and youngest person’s age)

#def remove_outliers(x):
  target_group=[]
  count_age(x)
  for i in count_age(x): 
    if max(count_age(x))>i>min(count_age(x)):
      target_group.append(i)
    else:
      pass
  return(target_group)

In [77]:
#Q2: Example output

remove_outliers(years)

[22, 26, 16, 14, 15, 27, 25, 13]

In [37]:
#Q3: Write a function that takes 2 lists as input and returns the common age values. 

def common_ages(agelist1, agelist2):
  common_age=[]
  for i in agelist1: 
    if i in agelist2:
      common_age.append(i)
    else:
      pass
  return(common_age)

In [38]:
#Q3: Example Output

berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

common_ages(berlin, munich)

[15, 13, 16, 18, 19, 10]

In [44]:
#Q4: Write a function that takes a list with duplicate values as input and returns the list with unique age values.  

def delete_duplicates(x):
  no_dupes=[]
  for i in x:
    if i not in no_dupes:
      no_dupes.append(i)
    else:
      pass
  return(no_dupes)

In [45]:
#Q4: Example output

sample= [15,13,16,18,19,15,10]

delete_duplicates(sample)

[15, 13, 16, 18, 19, 10]

In [95]:
#Q5: Write a function that takes an input list and value of age to find as input and return true or false if the age value is present or not.
#First approach 

def find_value_1(x):
  if x[-1] in x[0]:
    return(True)
  else:
    return(False)

In [96]:
#Q5: Example output

sample=[15,13,16,18,19,15,10,15], 15

find_value_1(sample)

True

In [85]:
#Q5: Second approach
            
def find_value(x,y):
  if y in x:
    return(True)
  else:
    return(False)

In [62]:
#Q5: Example output

find_value([15,13,16,18,19,15,10], 15)

False